body {
  background-color: #1182ec;
  color: white;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url(components/assets/logo.png);
}

.navbar {
  background-color: rgb(231, 55, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(19, 98, 134);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.logoimg {
  width: 100px;
  height: 130px;
}

.carrito {
  width: 100px;
  height: 130px;
}

.categories a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  color: black;
}

.cart-widget {
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
}

.item-list-container {
  margin: 20px;
  color: white;
}
